@font-face {
   font-family: 'futuralightc';
   font-display: swap;
   src: url('file:///C:/Users/Maxim/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-08-22_123812/fonts/futuralightc/font.otf');
}
